@import "tailwindcss";
@import "tailwindcss/preflight";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
}

body {
  @apply bg-gray-50;
}

.ql-container {
  font-size: 16px;
}

.ql-editor {
  min-height: 500px;
}

.ql-cursor-caret {
  width: 2px !important;
}

.ql-cursor-flag {
  font-size: 12px !important;
  padding: 2px 6px !important;
  border-radius: 4px !important;
  margin-top: -20px !important;
  white-space: nowrap;
}
